[submodule "vim/vim.symlink"]
	path = vim/vim.symlink
	url = https://github.com/carlhuda/janus.git
  ignire = dirty
[submodule "ruby/rbenv.symlink"]
	path = ruby/rbenv.symlink
	url = https://github.com/rbenv/rbenv.git
[submodule "nvm/zsh-nvm"]
	path = node/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm.git
