/.adobe/
/.bash_history
/.bash_login
/.bash_logout
/.cache/
/.campfire
/.config/
/.dbus/
/.dmrc
/Documents/
/Downloads/
/.dropbox/
/Dropbox/
/.dropbox-dist/
/.eclipse/
/.esd_auth
/examples.desktop
/.fontconfig/
/.gconf/
/.gegl-0.0/
/.gem/
/.gimp-2.6/
/.gksu.lock
/.gnome2/
/.gnucash/
/.goutputstream-*
/.gstreamer-0.10/
/.gtk-bookmarks
/.hplip/
/.ICEauthority
/.install4j
/.irb-history
/.java/
/.libreoffice/
/.local/
/.macromedia/
/.mission-control/
/.mozilla/
/.mysql_history
/.netrc
/.pki/
/.profile
/.pulse/
/.pulse-cookie
/.rvm/
/.sane/
/.Skype/
/.ssh/
/.sudo_as_admin_successful
/.sudoku/
/.thumbnails/
/Ubuntu One/
/.vim/_backup
/.vim/doc/tags
/.viminfo
/.vim/.netrwhist
/.vim/_temp
/.wireshark/
/Working/
/workspace/
/.Xauthority
/.xsession-errors
/.xsession-errors.old
/.zlogin
/.zshrc

