[user]
	name = Kevin Rutherford
	email = kevin@rutherford-software.com
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = blue bold
  frag = magenta
  commit = yellow bold
  old = red
  new = green
[color "status"]
  added = green
  changed = yellow
  untracked = red
[alias]
  co = checkout
  st = status
[merge]
  tool = vimdiff

